.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .5s all;
}

.pokemon:hover {
    transform: scale(1.1);
}

.pokemon .number {
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .825rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0;
}

.pokemon .name a {
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types, #pokemonTypes {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type, #pokemonTypes .type {
    color: #fff;
    padding: .5rem 1rem;
    text-transform: capitalize;
    text-align: center;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 2rem;
    filter: brightness(1.1);
}

.pokemon .detail img{
    max-width: 100%;
    height: 82px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    cursor: pointer;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .825rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

body:has(#pokemonModal[visible="true"]){
    overflow-y: hidden;
}

#pokemonModalContainer:has(#pokemonModal[visible="false"]) {
    /* display: none; */
    visibility: hidden;
}

#pokemonModalContainer:has(#pokemonModal[visible="true"]) {
    visibility: visible;
    background-color: rgba(0, 0, 0, .25);
}

#pokemonModalContainer #pokemonModal[visible="false"] {
    transform: scaleY(0);
}

#pokemonModalContainer #pokemonModal[visible="true"] {
    transform: scaleY(1);
}

#pokemonModalContainer {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1;
}

#pokemonModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    flex-grow: 1;
    background-color: #f6f8fc;
    transition: .25s all;
}

@media screen and (min-width: 768px) {
    #pokemonModalContainer {
        justify-content: center;
        align-items: center;
    }

    #pokemonModal {
        max-width: 768px;
        height: 90vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 1.5rem;
    }
}

#pokemonInfo {
    display: grid;
    grid-template-columns: 80% 20%;
}

#pokemonName{
    text-transform: capitalize;
    margin: 0;
}

#pokemonNumber {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#pokemonTypes {
    display: flex;
}

#pokemonTypes .type {
    margin: .5rem 1rem .5rem 0;
}

#pokemonDetails {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    padding: .5rem 0;
    overflow: hidden;
}

.detailsNavButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detailsNavButton button {
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .25s all;
}

.detailsNavButton button:hover {
    transform: scale(1.5);
}

.detailsContainer {
    padding: .5rem;
}

#statsList {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    display: grid;
    row-gap: 1rem;
}

.movesContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style-type: none;
    background-color: white;
    padding: 1rem;
    border-radius: 1.5rem;
    overflow-y: scroll;
    max-height: 50%;
}

.movesContainer > h4 {
    text-align: center;
}

#movesList {
    display: grid;
    padding: .5rem;
    text-align: center;
    list-style: none;
}


@media screen and (min-width: 486px){
    #movesList, #statsList {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (min-width: 768px){
    #movesList, #statsList {
        grid-template-columns: 33% 33% 33%;
    }
}


#closeModalBtn {
    border: none;
    cursor: pointer;
    padding: .5rem;
    font-size: .85rem;
    border-radius: 1rem;
}